@import "tailwindcss";

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-track {
    display: inline-flex;
    animation: marquee 20s linear infinite;
    will-change: transform;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.moving-gradient {
  background: linear-gradient(90deg, #fb923c, #f87171, #9ca3af);
  background-size: 200% 200%;
  animation: gradientMove 3.5s ease-in-out infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

